@page 
@{
    Layout = "_LayoutDataTables";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
@model WebAppFAM.Pages.Trips.TripMain

@{
    ViewData["Title"] = "Index";
}

<h2>Trip Listing</h2>
<p>
    <a asp-page="Trip">Create New</a>
</p>
<div id="msg" hidden></div>

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="TripTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Trip Id</th> @*[0]*@
                    <th>Trip Code</th> @*[1]*@
                    <th>Customer</th> @*[2]*@
                    <th>Commodity</th> @*[3]*@
                    <th>Edit</th>@*[4]*@
                    <th>Delete</th>@*[5]*@
                    <th>Return Trip</th> @*[6]*@
                    <th>Expected Collection Date</th>@*[7]*@
                    <th>From</th>@*[8]*@
                    <th>To</th>@*[9]*@
                    <th>Distance</th>@*[10]*@
                    <th>Driver</th> @*[11]*@
                    <th>Truck</th>@*[12]*@
                    <th>Trailer</th>@*[13]*@
                    <th>Expect. Start Date</th>@*[14]*@
                    <th>Expect. Completion Date</th>@*[15]*@
                    <th>Act. Coll. Date</th>@*[16]*@
                    <th>Act. Start. Date</th>@*[17]*@
                    <th>Act. Compl. Date</th>@*[18]*@
                    <th>Diff Coll. Hrs</th>@*[19]*@
                    <th>Diff Start Hrs</th>@*[20]*@
                    <th>Diff End Hrs</th>@*[21]*@
                    <th>Cust. RefNo</th>@*[22]*@
                    <th>Invoice No</th>@*[23]*@
                    <th>Invoice Date</th>@*[24]*@
                    <th>Invoice Rate</th>@*[25]*@
                    <th>Kilometres</th>@*[26]*@
                    <th>Invoice Amount</th>@*[27]*@
                </tr>
            </thead>
        </table>
    </div>
</div>

@await Html.PartialAsync("_ModalPartial")


@section Scripts {

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#TripTable").on('xhr.dt', function (e, settings, json, xhr) {
            }).DataTable({
                lengthMenu: [25, 100, 150, 200],
                dom: '<lfB<t>ip>',
                buttons: ['excel', 'copy', 'csv', 'pdf', 'print'],
                "fixedHeader": {
                    "header": true,
                    "footer": true
                },
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {

                    "url": "/Trips/TripMain?handler=Paging",
                     "headers":
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    /*Trip ID is not visible and is not searchable*/
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                    },
                    {
                    /*Trip Code is not visible and is not searchable*/
                    "targets": [1],
                    "visible": true,
                    "searchable": true
                    },
                    {
                    /*Customer is visible and is searchable*/
                    "targets": [2],
                    "visible": true,
                    "searchable": true
                    },
                    {
                    /*From is visible and is searchable*/
                    "targets": [8],
                    "visible": true,
                    "searchable": true
                    },
                    {
                    /*To is visible and is searchable*/
                    "targets": [9],
                    "visible": true,
                    "searchable": true
                        },
                    {
                        /*Driver is visible and is searchable*/
                        "targets": [11],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Horse is visible and is searchable*/
                        "targets": [12],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        /*Trailer is visible and is searchable*/
                        "targets": [13],
                        "visible": true,
                        "searchable": true
                        },
                    {
                        /*InvoiceNo is visible and is searchable*/
                        "targets": [23],
                        "visible": true,
                        "searchable": true
                    },
                    {
                    /*Edit button  is  visible and is not searchable*/
                    "targets": [4],
                    "visible": true,
                    "searchable": false,
                        "orderable": false
                    },
                    {
                        /*Delete button  is  visible and is not searchable*/
                        "targets": [5],
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    }
                    ],
                "columns": [
                    { "data": "tripID", "name": "TripID", "autoWidth": true },
                    { "data": "tripCode", "name": "TripCode", "autoWidth": true },
                    { "data": "customer", "name": "customer", "autoWidth": true },
                    { "data": "commodityName", "name": "commodityName", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return "<p data-placement='top' data-toggle='tooltip' title='Edit'><button class='btn btn-primary btn-xs' data-title='Edit' data-toggle='modal' data-target='#edit' onclick='window.location.href=\"/Trips/Trip/" + full.tripID + "\"\'><span class='glyphicon glyphicon-pencil'></span></button></p>";
                        }
                    },
                    {
                        "data": null, render: function (data, type, row) {
                            return '<p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" onclick=DeleteData("' + row.tripID + '")><span class="glyphicon glyphicon-trash"></span></button></p>';

                        }
                    },
                    { "data": "returnTrip", "name": "returnTrip", "autoWidth": true },
                    { "data": "tripStart", "name": "TripStart", "autoWidth": true },
                    { "data": "from", "name": "From", "autoWidth": true },
                    { "data": "to", "name": "To", "autoWidth": true },
                    { "data": "distance", "name": "Distance", "autoWidth": true },
                    { "data": "driver", "name": "Driver", "autoWidth": true },
                    { "data": "horse", "name": "Horse", "autoWidth": true },
                    { "data": "trailer", "name": "trailer", "autoWidth": true },
                    { "data": "expectedStartDateTime", "name": "expectedStartDateTime", "autoWidth": true },
                    { "data": "expectedCompletionDateTime", "name": "expectedCompletionDateTime", "autoWidth": true },
                    { "data": "actualCollectionDateTime", "name": "actualCollectionDateTime", "autoWidth": true },
                    { "data": "actualStartDateTime", "name": "actualStartDateTime", "autoWidth": true },
                    { "data": "actualCompletionDateTime", "name": "actualCompletionDateTime", "autoWidth": true },
                    { "data": "diffCollectionTimeHrs", "name": "diffCollectionTimeHrs", "autoWidth": true },
                    { "data": "diffStartTimeHrs", "name": "diffStartTimeHrs", "autoWidth": true },
                    { "data": "diffEndTimeHrs", "name": "diffEndTimeHrs", "autoWidth": true },
                    { "data": "customerReferenceNo", "name": "customerReferenceNo", "autoWidth": true },
                    { "data": "invoiceNo", "name": "invoiceNo", "autoWidth": true },
                    { "data": "invoiceDate", "name": "invoiceDate", "autoWidth": true },
                    { "data": "invoiceRate", "name": "invoiceRate", "autoWidth": true },
                    { "data": "kilometres", "name": "kilometres", "autoWidth": true },
                    { "data": "invoiceAmount", "name": "invoiceAmount", "autoWidth": true },
                    
                ]

            });//Trip Table
        });//Document Ready end.


    function DeleteData(TripID)
     {
            if (confirm("Are you sure you want to delete this trip ...?"))
            {
                console.log("Trip ID to be deleted is: " + TripID)
                Delete(TripID);
            }
            else
            {
                return false;
            }
     }

    function Delete(TripID)
        {
            console.log("Before Ajax Call:" + "Trip ID is: " + TripID)
            var obj = {};
            obj.TripID = TripID;


            $.ajax({
                type: "DELETE",
                url: '/Trips/TripMain?handler=Delete',
                headers:
                    {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(obj),
                success: function (msg) {
                        oTable = $('#TripTable').DataTable();
                        oTable.draw();
                        $("#msg").html(msg);
                        $("#modalHeader").text("Trip Processing Status");
                        $("#modalMessage").text(msg);
                        $("#myModal").modal("show");
                    },
                    error: function () {
                        $("#msg").html("Error while making Ajax call!");
                        $("#modalHeader").text("Trip Processing Status");
                        $("#modalMessage").text(msg);
                        $("#myModal").modal("show");
                    }
                });//ajax

        }

    </script>
}

