@page
@model WebAppFAM.Pages.Horses.AdminModel
@{
    ViewData["Title"] = "Administration";
}

<h2>Administration</h2>

<ul>
    <li><a asp-page="/Horses/Index">Horses</a></li>
    <li><a asp-page="/Trailers/Index">Trailers</a></li>
    <li><a asp-page="/Drivers/Index">Drivers</a></li>
    <li><a asp-page="/Countries/Index">Countries</a></li>
    <li><a asp-page="/Provinces/Index">Provinces</a></li>
    <li><a asp-page="/Locations/LocationModel">Locations</a></li>
    

</ul>

